#containerid {
    width: 400px;
    border-style: solid;;
    height: 180px;
    border-radius: 5px;
    border-color: antiquewhite;
    margin: 0;
    border-width: 0.5px;
    cursor: pointer;
}

#containerid:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-warning, .btn-secondary{
    margin: 5% auto;
}

.btn {
    border-radius: 0;
}

.photo {
    height: 5rem;
    margin: 8% auto;
}

.title {
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 400;
    margin: 3% 0;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name, .price, .location, .subject {
    margin:0;
    width: 100%;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexbutton{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}