
.Login {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  background-image: url(Teacher-Classroom-Blog-Getty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* .sign-in {
  margin-left: auto;
} */

